@font-face {
  font-family: "Red Hat Display";
  font-weight: 700;
  src: url(./RedHatDisplay-Bold.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  src: url(./RedHatDisplay-Medium.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  font-weight: 400;
  src: url(./RedHatDisplay-Regular.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(./Roboto-Regular.ttf) format("ttf");
  font-display: swap;
}
